    <%- include("./partials/header.ejs")%>
    <%- include("./partials/navbar.ejs")%>

    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, rerum voluptate veniam expedita doloribus magnam sint laudantium ea earum libero hic ullam. Facere dolor aliquam adipisci magnam ducimus pariatur minus!</p>

    <%- include("./partials/footer.ejs")%>


